 p.digitalWork_para {
     width: 42%;
     margin: 21px auto;
     text-align: center;
 }

 .digitalWorks_inner {
     display: flex;
     width: 81%;
     margin: auto;
     flex-wrap: wrap;
     justify-content: center;
 }


 .digitalWorks_inner .left_block_wrap {
     /* border: 0; */
 }