 p.digitalWork_para {
     width: 42%;
     margin: 21px auto;
     text-align: center;
 }
 .digitalWorks_inner {
    display: flex;
    width: 94%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width:992px) {
p.digitalWork_para {
    width: 53%; 
}
}