.circleBlock {
    position: absolute;
    top: 94px;
    left: 140px;
    width: 100px;
    height: 100px; 
    transform: translatey(0px);
    animation: float 18s ease-in-out infinite;
}

.circleR {
    position: absolute;
    width: 55px;
    top: -15px;
}

.CircleB {
    width: 34px;
    position: absolute;
    bottom: 37px;
    right: 5px;
}

.CircleY {
    width: 40px;
    position: absolute;
    bottom: 6px;
    left: 10px;
}
.pinkC {
    position: absolute;
    right: 89px;
    top: 34px;
    width: 55px;
    transform: translatey(0px);
    animation: float 18s ease-in-out infinite;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  