.software_solution_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 260px;
}
.softwareSolution_para {
    width: 44%;
    margin: 10px auto;
    text-align: center;
    color: #747474;
    font-size: 16px;
}