.software_dev_blk_1_wrap {
    margin: 70px 0;
}
.sw_inner_cover {
    overflow: hidden;
}
.software_dev_blk_1_wrap p {
    width: 37%;
    margin: 33px auto;
    text-align: center;
    color: #747474;
}

.software_innr_wrap {
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap; 
}
.movng_icon {
    width: 60px;
}
.swInnerRightBlk {
    flex: 42%;
    margin: 0 20px 20px;
}

.SwMoving {
    position: relative;
    flex: 45%;
}

.SwMoving img {
    width: 335px;
    margin-left: 55px;
}

.SwMoving span {
    color: #cccccc7a;
    font-size: 46px;
    width: 70%;
    margin: auto;
    font-weight: 900;
}

.swInnerRight {
    display: flex;
    flex-wrap: wrap;
    flex: 55%;
}



.moving_inner {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.moving_inner img {
    position: relative;
    z-index: 1;
}

.swInnerRightBlk p {
    margin: 0;
    width: 88%;
    font-size: 14px;
    text-align: center;
    margin: auto;
}

.swInnerRightBlk h5 {
    font-weight: 700;
    font-size: 15px;
    width: 42%;
    margin: 4px auto;
    text-align: center;
}

.movingBlk_wrap {
    text-align: center;
    height: 60px;
}

.software_band_wrap {
    box-shadow: 0px 3px 37px #72727221;
    border-radius: 7px;
    margin: 20px auto;
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.software_band_wrap p {
    margin: 0;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

/***********sw  main block 2***********/
.swDevBlk2_left img {
    width: 350px;
    position: relative;
    z-index: 1;
}

.swDevBlk2_left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:400px
}

.swDevBlk2_left span {
    content: "";
    border-radius: 30% 70% 67% 33% / 61% 67% 33% 39%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 169px;
    top: -31px;
    z-index: 0;
    background: transparent linear-gradient(180deg, #FFCE2E 0%, #FFB74D 100%) 0% 0% no-repeat padding-box;
}

.swDevBlk2_wrap {
    padding: 80px 100px;
    display: flex;
    flex-wrap: wrap;
}

.swDevBlk2_left {
    flex: 45%;
}

.swDevBlk2_right {
    flex: 50%;
}

.swDevBlk2_right h2 {
    font-size: 25px;
    font-weight: 800;
    width: 50%;
    position: relative;
    margin-bottom: 15px;
}

.swDevBlk2_right h2:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 98%;
    left: -15px;
    background: #FFB74D;
    top: 4px;
}

.swDevBlk2_right p {
    width: 80%;
    color: #545454;
    font-size: 15px;
}

/****************sw - blocks*******************/
.sw_block_cover {
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sawBlkWrap {
    width: 310px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.sawBlkWrap:hover {
    transition: .5s;
    box-shadow: 0px 3px 30px #0000001a;
}

.sawBlkWrap:hover .swNumber span {
    transform: rotate(178deg);
    transition: 1s;


}

.swNumber {
    position: relative;
    display: inline-block;
    margin: 20px;

}

.sawBlkWrap .swNumber span {
    content: "";
    border-radius: 30% 70% 67% 33% / 61% 67% 33% 39%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: -16px;
    top: -15px;
    z-index: 0;
    background: #48D4C2 0% 0% no-repeat padding-box;
    transition: 1s;
    transform: rotate(360deg);
}

.swNumber h3 {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: -1px;
}

.sawBlkWrap h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
}

.sawBlkWrap p {
    color: #8F8F8F;
    font-size: 14px;
}
.colorY {
    position: absolute !important;
    z-index: 0 !important;
    width: 314px !important;
}
/********************sw block 3**********************/
.swDevBlk3_inner {
    display: flex;
    margin: 80px 100px;
}

.inner_paragraph {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    color: #747474;
}

.swDevBlk3_inner .swInnerRightBlk h5 {
    width: 100%;
    font-weight: 800;
    margin: 10px 0;
}

.swDevBlk3_inner .swInnerRightBlk p {
    color: #828282;
    font-size: 14px;
    width: 80%;
    text-align: justify;
    margin: auto;
}

/**************sw developer********************/
.swDeveloper_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.swDeveloper_img {
    flex: 55%;
}

.swDeveloper_right {
    flex: 45%;
    padding-right: 90px;
}
 
.swDevAnimation_cover {
    position: relative;
    width: 600px;
    height: 320px;
    margin-top: 70px;
}

.swDeveloper_right_head p {
    font-weight: 700;
    margin: 0;
}

.swDeveloper_right_head h2 {
    font-weight: 800;
    width: 75%;
}

.swDeveloper_right_head:before {
    position: absolute;
    content: "";
    background: #FFB74D;
    left: -14px;
    width: 5px;
    height: 88%;
    top: 5px;
}

.swDeveloper_right p {
    font-size: 15px;
    color: #545454;
}

.technologies_cvr {
    display: flex;
    flex-wrap: wrap;
}

.tech_left {
    flex: 50%;
}

.tech_left h5 {
    font-size: 17px;
    font-weight: 700;
}

.tech_left ul {
    list-style-type: none;
}

.tech_left ul li {
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.tech_left ul li:before {
    position: absolute;
    left: 0px;
    content: "\2713";
    background: #F23801;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    top: 3px;
}

.colorr {
    width: 60px !important; 
    position: absolute !important; 
    left: -19px !important; 
    z-index: 0 !important; 
    top: -14px !important; 
}
@media screen and (min-width:1200px) {
    .swDevBlk3_inner .swInnerRightBlk h5 {
        width: 65%; 
        margin: 18px auto 10px;
    }
     
}
@media screen and (max-width:1200px) {
    .movng_icon {
        width: 50px;
    }
    .colorr {
        width: 50px !important;
    }
    .swDevBlk3_inner .swInnerRightBlk h5 {
        width: 60%; 
        margin: 10px auto 10px;
    } 
    .software_innr_wrap {
        padding: 50px 78px; 
    }
    .sw_block_cover {
        padding: 50px 20px;
    }
    .swDevAnimation_cover { 
        width: 540px;
        height: 320px; 
    }
    .swDeveloper_right {
        padding-right: 0px;
    }
}
@media screen and (max-width:1100px) {
.swDevBlk3_inner {
    display: flex;
    margin: 50px 50px;
}
.software_innr_wrap {
    padding: 50px 40px;
}
.swDevAnimation_cover {
    width: 500px;
    height: 284px;
}
.swDeveloper_img {
    flex: 42% 1;
}
}
@media screen and (max-width:1024px) {
.swInnerRightBlk { 
    margin: 0 15px 20px;
}
.swDevAnimation_cover {
    width: 475px;
    height: 274px;
}
}
@media screen and (max-width:992px) {
    .swDevBlk3_inner { 
        margin: 50px 20px;
    }
    .swDevBlk3_inner .swInnerRightBlk p { 
        font-size: 14px;
        width: 95%; 
        text-align: center;
    }
    .swDevBlk3_inner .swInnerRightBlk h5 {
        width: 78%; 
    }
    .movng_icon {
        width: 40px;
    }
    .colorr {
        width: 40px !important;
    }
    .movingBlk_wrap { 
        height: 45px;
    }
    .swDevBlk3_inner { 
        display: block;
    }
    .SwMoving img {
        width: 260px;
        margin-left: 10px;
    }
    .SwMoving h1 { 
        font-size: 35px;
        width: 92%; 
    }
    .software_innr_wrap {
        padding: 50px 25px;
    }
    .software_dev_blk_1_wrap p {
        width: 52%; 
        font-size: 14px;
    }
    .SwMoving { 
        flex: 20% 1;
    }
    .software_dev_blk_1_wrap p {
        width: 90%; 
        font-size: 13px;
    }
    .swInnerRightBlk {
        margin: 0 15px 34px;
    }
    .swInnerRightBlk h5 { 
        font-size: 14px; 
    } 
    .software_band_wrap { 
        width: 90%; 
    }
    .software_band_wrap p { 
        font-size: 14px; 
    }
    .colorY { 
        width: 220px !important;
    }
    .swDevBlk2_left img {
        width: 235px; 
    }
    .swDevBlk2_wrap {
        padding: 50px 0px; 
    }
    .swDevBlk2_right h2 { 
        width: 80%; 
        font-size: 23px;
    }
    .swDevBlk2_right p { 
        font-size: 14px;
    }
    .sw_block_cover {
        padding: 19px 30px 40px;
    }
    .swDevAnimation_cover {
        width: 365px;
        height: 221px;
    }
    .swDeveloper_right_head h2 { 
        width: 80%;
        font-size: 23px;
    }
    .swDeveloper_right p {
        font-size: 13px;
        color: #545454;
    }
    .tech_left h5 {
        font-size: 13px; 
    }
    .tech_left ul li {
        font-size: 13px; 
        padding-left: 23px;
    }
    .swDeveloper_wrap { 
        margin: 50px 20px;
    }
    .SwMoving span { 
        font-size: 36px; 
    }
    .SwMoving img { 
        margin-top: 10px;
    }
}
@media screen and (max-width:768px) {
.swDevAnimation_cover { 
    width: 500px;
    height: 320px; 
}
.software_dev_blk_1_wrap p {
    width: 85%; 
}
.software_innr_wrap {
    padding: 20px 20px;
    display: block; 
}
.SwMoving h1 {
    color: #cccccc7a;
    font-size: 40px;
    width: 70%;
    margin: auto;
    font-weight: 900;
}
.SwMoving img {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 45px;
}
.SwMoving h1 { 
    font-size: 33px;
    width: 48%;
    margin-left: 24px; 
}
.software_band_wrap {
    width: 95%;
}
.swDevAnimation_cover {
    width: 260px;
    height: 151px;
}
.swDeveloper_img {
    flex: 34% 1;
}
.SwMoving span {
    font-size: 36px;
    width: 50%;
    display: inline-block;
}
}
@media screen and (max-width:600px) {
    .swDevBlk2_left .colorY {
        width: 190px !important;
    }
    .swDevBlk2_left img {
        width: 210px !important;
    }
    .swDevBlk2_right p {
        width: 90%; 
    }
    .swDevBlk2_right h2 {
        width: 90%; 
    }
    .sw_block_cover { 
        display: block;
    }
    .SwMoving span {
        font-size: 32px; 
    }
}
@media screen and (max-width:500px) {
    .software_band_wrap { 
        display: block;
    }
    .software_band_wrap p { 
        margin-bottom: 10px;
    }
    .swDevBlk2_wrap {
        padding: 50px 20px;
    }
    .swDevBlk2_right { 
        margin-top: 60px;
    }
    .swDevBlk2_wrap { 
        display: block;
    }
    .swDevBlk2_left { 
        width: 100%;
    }
    .swDevAnimation_cover { 
        margin-top: 24px;
    }
    .swDevBlk2_right h2 { 
        font-size: 20px;
    }
    .software_dev_blk_1_wrap {
        margin: 269px 0 0;
    }
    .swDevBlk2_wrap { 
        overflow: hidden;
    }
    .block_section_two_head h2 {
        font-size: 18px !important;
    }
    .swDevBlk2_right { 
        margin-left: 25px;
    }
    .inner_paragraph {
        width: 83%; 
        font-size: 13px; 
    }
    .SwMoving span {
        font-size: 32px;
        width: 100%;
    }
    .SwMoving { 
        text-align: center;
       
    }
    .SwMoving img{
        margin: 16px auto 40px;
    }
}