.bg-1{
    background-color: #049CE5 !important;
}
.bg-2{
    background-color: #FFB74D !important;
}
.bg-3{
    background-color: #48D4C2 !important;
}
.bg-4{
    background-color: #63BC6F !important;
}
.bg-5{
    background-color: #598695 !important;
}
.bg-6{
    background-color: #2CC2D6 !important;
}
 
.swNumber .sw_icon {
    position: relative;
    width: 50px;
    z-index: 1;
}
.colorrr {
    position: absolute !important;
    left: -15px;
    top: -10px;
    z-index: 0;
    width: 50px;
}
.sawBlkWrap h4 { 
    width: 69%;
}