.table {
    animation: float 10s ease-in-out infinite;
    transform: translatey(0px);
    width: 62%;
    left: 18%;
    position: absolute;
}

.keys {
    position: absolute;
    top: -11%;
    right: 23%;
    width: 23%;
    animation: float2 17s ease-in-out infinite;
    transform: translatey(0px);
}
.clock {
    width: 13%;
    right: 14%;
    position: absolute;
    top: 22%;
    animation: float3 16s ease-in-out infinite;
    transform: translatey(0px);
}

.plant {
    position: absolute;
    width: 18%;
    right: 12%;
    bottom: 16%;
    animation: float4 17s ease-in-out infinite;
    transform: translatey(0px);
}

.redcube {
    width: 9%;
    position: absolute;
    bottom: 0;
    right: 30%;
    animation: float 14s ease-in-out infinite;
    transform: translatey(0px);
}
.gearR {
    width: 7%;
    position: absolute;
    bottom: 0;
    right: 41%;
    animation: float 18s ease-in-out infinite;
    transform: translatey(0px);
}

.gearY {
    width: 12%;
    position: absolute;
    bottom: 0;
    right: 50%;
    animation: float 16s ease-in-out infinite;
    transform: translatey(0px);
}
.sphere {
    width: 12%;
    position: absolute;
    top: 35%;
    left: 4%;
    animation: float3 16s ease-in-out infinite;
    transform: translatey(0px);
}

.whitecube {
    width: 17%;
    position: absolute;
    top: -12%;
    left: 9%;
    animation: float3 13s ease-in-out infinite;
    transform: translatey(0px);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
@keyframes float2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}
@keyframes float3 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}
@keyframes float4 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}