.UXDesignBlk5_para {
    text-align: center;
    color: #545454;
    font-size: 15px;
    margin: 15px 0;
}

.UXDesignBlk5_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 54%;
    margin: 50px auto;
}
.UXDesignBlk5_inner .wrk_icon {
    width: 50px;
    margin: auto; 
    bottom: -10px;
    z-index: 1;
    position: absolute;
}
.UXDesignBlk5_inner .wrk_color {
    position: absolute;
    width: 60px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 0;
}
@media screen and (max-width:1100px) {
    .UXDesignBlk5_inner { 
        width: 70%; 
    }
    .block_section_two_head {
        width: 52% !important;
    }
}
@media screen and (max-width:992px) {
    .UXDesignBlk5_inner {
        width: 78%;
    }
    .block_section_two_head {
        width: 80% !important;
    }
}
@media screen and (max-width:768px) {
    .UXDesignBlk5_inner {
        width: 98%;
    }
}
@media screen and (max-width:500px) {
.block_section_two_head {
    width: 96% !important;
}
.UXDesignBlk5_inner { 
    justify-content: center; 
    margin: 50px auto 10px;
}

}