.UXDesignBlk4_cover {
    background: linear-gradient(90deg, rgb(248 102 9 / 72%) 0%, rgba(236, 70, 60, 0.7460026246826856) 54%, rgba(235, 53, 66, 0.6899802157191002) 100%);
    margin: 50px 0;
    text-align: center;
    padding: 50px 0;
}

.UXDesignBlk4_cover h3 {
    color: #fff;
    position: relative;
}

.UXDesignBlk4_cover h3:before {
    position: absolute;
    width: 33%;
    height: 1px;
    content: "";
    background: #fff;
    left: 0;
    top: 15px;
}

.UXDesignBlk4_cover h3:after {
    position: absolute;
    width: 33%;
    height: 1px;
    content: "";
    background: #fff;
    right: 0;
    top: 15px;
}


.UXDesignBlk4_inner {display: flex;justify-content: center;align-items: center;margin: 50px 0;}

.UXD4_Blk img {width: 40px;}

.UXD4_Blk h4 {font-size: 15px;font-weight: 800;margin: 7px 0;}

.UXD4_Blk {width: 190px;}

@media screen and (max-width:1100px) {
    .UXDesignBlk4_cover h3:before { 
        left: -42px; 
    }
    .UXDesignBlk4_cover h3:after { 
        right:  -42px; 
    }
    .UXDesignBlk4_cover{
        overflow: hidden;
    }
}
@media screen and (max-width:992px) {
    .UXDesignBlk4_cover h3:before {
        left: -46px
    }
    .UXDesignBlk4_cover h3:after{
        right:-46px
    }
    .UXDesignBlk4_cover h3 { 
        font-size: 23px;
    }
    .UXD4_Blk {
        width: 135px;
    }
    .UXD4_Blk h4 {
        font-size: 13px; 
    }
    .UXDesignBlk4_inner { 
        margin: 30px 0;
    }
}
@media screen and (max-width:768px) {
    .UXDesignBlk4_cover h3:before {
        left: -70px;
    }
    .UXDesignBlk4_cover h3:after    {
        right:-70px;
    }
    .UXD4_Blk img {
        width: 34px;
    }
    .UXD4_Blk h4 {
        font-size: 12px;
    }
}
@media screen and (max-width:600px) {
    .UXDesignBlk4_cover h3 {
        font-size: 20px;
    }
    .UXDesignBlk4_cover h3:before,.UXDesignBlk4_cover h3:after{
        display: none;
    }
    .UXDesignBlk4_inner {  
        display: block;
    }
    .UXD4_Blk {
        width: 152px;
        margin: 0 auto 20px;
    }
    .UXDesignBlk4_cover { 
        padding: 30px 0;
    }
}
@media screen and (max-width:500px) {
}