.UXDesignBlk6_para {
    text-align: center;
    color: #545454;
    font-size: 15px;
    margin: 15px 0;
}

.UXDesignBlk6_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
 
@media screen and (max-width: 1100px){
    .UXDesignBlk6_inner { 
        width: 90%; 
    }
}
@media screen and (max-width: 992px){
.work_icon {
    width: 210px; 
    margin: 20px 10px;
}
.wrk_icon {
    width: 40px; 
    bottom: -7px; 
}
.UXDesignBlk6_inner { 
    margin: 50px auto 10px;
}
}
@media screen and (max-width: 500px){
.UXDesignBlk6_inner { 
    justify-content: center;
}
}