.UXdesignBlk1_cover {
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;
    padding: 70px 50px;
}
.UXDesignBlk1_left {
    flex: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UXDesignBlk1_left img {
    width: 77%;
}
.UXDesignBlk1_right {
    flex: 55%; 
}
.UXDesign_blocks_cover {
    display: flex;
    flex-wrap: wrap;
}
.UXDesignBlk1_right h3 {
    font-weight: 900;
    margin-left: 20px;
    width: 35%;
}