.erisn__navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.3rem 4rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar_scroll {
  background: #fff;
  box-shadow: rgb(0 0 0 / 4%) 0px 5px 20px 0px;
}

.navbar_scroll .navColor a {
  color: #656565 !important;
  text-decoration: none;
}
.navbar_scroll .navColor a:hover {
  color: #f23a03 !important;
}
.erisn__navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.erisn__navbar-links_logo {
  margin-right: 2rem;
}

.erisn__navbar-links_logo img {
  width: 130px;
  height: 59px;
  object-fit: contain;
  cursor: pointer;
}

.erisn__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.erisn__navbar-links_container p,
.erisn__navbar-menu_container p {
  margin: 0 1rem;
  cursor: pointer;
  color: var(--color-text) !important;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
}

a:-webkit-any-link {
  text-decoration: none !important;
  font-family: var(--font-family-primary);
  cursor: pointer;
}

.erisn__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.erisn__navbar-menu svg {
  cursor: pointer;
}

.erisn__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 2rem;
  position: absolute;
  top: 50px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #0000001a;
  background: white;
  z-index: 999;
}

.erisn__navbar-menu_container p {
  margin: 1rem 0;
}

.erisn__navbar-menu_container-links-sign {
  display: none;
}

.navColor p {
  color: #fff !important;
}

p.submenu {
  position: relative;
}

.submenu_inner {
  position: absolute;
  box-shadow: 0px 20px 17px #00000029;
  background: #fff;
  border-radius: 10px;
  top: 60px;
  color: #696868 !important;
  z-index: 0; 
  
} 


.submenu_inner h5 {
  background: #F5F5F5;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
}

.submenu_block {
  display: flex;
}

.submenu_block .submenu_main {
  list-style-type: none;
  padding: 0px 10px;
}

.submenu_block .submenu_main li h6 {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 3px;
}

.submenu_block .submenu_main li p {
  font-size: 12px;
  margin: 0 0;
  font-weight: 300;
  color: #000 !important;
  line-height: 20px;
}

.submenu_block .submenu_main li {
  margin-bottom: 10px;
  padding: 10px;
  transition: .5s;
  border-radius: 5px;
}

.submenu_sub_right {
  position: absolute;
  right: 6px;
  width: 50%;
  background: #fff;
  list-style-type: none;
  border-left: 1px solid #ddd;
}
 .submenu_block .submenu_main li:hover {
  background: #F5F5F5;
  transition: .5s;
}
 
.submenu_sub_right li h6 {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 3px;
  color:#F27D84;
}
.submenu_sub_right li p {
  font-size: 12px;
  margin: 0 0;
  font-weight: 300;
  color: #000 !important;
  line-height: 20px;
}
ul.submenu_sub_right li {
  margin-bottom: 10px;
  padding: 10px;
  transition: .5s;
} 
ul.submenu_sub_right li:hover {
  margin-bottom: 10px; 
  background: whitesmoke;
  transition: .5s;
}

@media screen and (max-width: 1050px) {
  .erisn__navbar-links_container {
    display: none;
  } 
  .erisn__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .erisn__navbar {
    padding: 2rem 4rem;
  }

  .erisn__navbar-menu_container {
    top: 60px;
    right: 0;
    padding: 1rem;
    z-index: 999;
  }
}

@media screen and (max-width: 550px) {
  .erisn__navbar {
    padding: 2rem;
  }

  .erisn__navbar-menu_container {
    top: 70px;
    padding: 1rem;
    z-index: 999;
  }
}