.web_dev_clients_wrap {
    padding: 50px 100px;
}

.web_dev_clients {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
}

.web_dev_clients_icon {
    width: 290px;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
}

.web_dev_clients_icon img {
    width: 60px;
    margin-bottom: 10px;
}

.web_dev_clients_icon h5 {
    font-size: 17px;
    font-weight: 700;
}

.web_dev_clients_icon p {
    font-size: 14px;
}
@media screen and (max-width: 992px) {
    .web_dev_clients_wrap {
        padding: 50px 80px;
    }
    .web_dev_clients_wrap .wrk_icon {
        width: 34px;  
        bottom: 6px; 
    }
    .web_dev_clients_wrap .work_icon p { 
        font-size: 14px;
    }
    .web_dev_clients_wrap .block_section_two_head {
        width: 47%;
    }
}
@media screen and (max-width: 992px) {
    .web_dev_clients_wrap {
        padding: 50px 46px;
    }
    .web_dev_clients_wrap .work_icon {
        width: 185px; 
    }
}
@media screen and (max-width: 768px) {
    .web_dev_clients_wrap .block_section_two_head {
        width: 70%;
    }
    .web_dev_clients { 
        display: block; 
    }
    .web_dev_clients_wrap .work_icon {
        width: 185px;
        margin: 0 auto 10px !important;
    }
    .web_dev_clients_wrap .wrk_icon {
        width: 34px; 
        bottom: 10px;
    }
}
@media screen and (max-width:500px) {
    .web_dev_clients_wrap .block_section_two_head {
        width: 100%;
    }
    .web_dev_clients_wrap {
        padding: 50px 26px;
    }
}