.BrochureBlk1_cover {
    margin: 50px 0 70px;
}
.brochure .bannerBG { 
    width: 60%; 
}
p.brochure_para {
    text-align: center;
    width: 43%;
    margin: 22px auto;
}

b.brochure_bold {
    margin: auto;
    width: 40%;
    text-align: center;
    display: block;
}

.BrochureBlk1_inner {
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
/*******************brochure banner*********************/
.brochure_banner_cover {
    width: 500px;
    height: 500px;
    position: relative;
}

.bannerScreen {
    position: absolute;
    width: 100%;
    bottom: 16%;
    z-index: 1;
    animation: float 12s ease-in-out infinite;
}

.screenRight {
    position: absolute;
    width: 25%;
    right: 3%;
    bottom: 64%;
    opacity: .8;
    z-index: 0;
    animation: float 18s ease-in-out infinite;
}

.cloudLeft {
    position: absolute;
    width: 38%;
    left: 0%;
    bottom: 48%;
    z-index: 1;
    animation: float 13s ease-in-out infinite;
}

.cloudTop {
    position: absolute;
    width: 38%;
    right: 20%;
    bottom: 70%;
    animation: float 15s ease-in-out infinite;
    z-index: 1;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  /***********************/
  .BrochureBlk2_cover {
    background: linear-gradient(180deg, #f8660957 0%, #ec463c47 47%, #eb354240 100%) 0% 0% no-repeat padding-box;
    padding: 70px 0 0;
}

.BrochureBlk2_cover .web_dev_explained .web_dev_right  img {
    width: 392px;
}
.BrochureBlk2_cover .block_section_two_head {
    width: 47%;
}
.BrochureBlk2_second {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.BrochureBlk2_second .normal_block_cover {
    background: #fbd8d8;
    border-radius: 8px;
    padding: 25px 15px;
    width: 240px;
}

.BrochureBlk2_second .normal_block_cover h4 {
    width: 70%;
    margin: auto;
}
/******************* BrochureBlk3 ********************/
.BrochureBlk3_cover {
    margin: 70px 0;
}

.BrochureBlk3_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 60px 20px;
    justify-content: center;
} 

.BrochureBlk3_para {
    margin: 40px auto 0;
    text-align: center;
    width: 40%;
}
/******************* BrochureBlk3 ********************/ 
/************************ BrochureSlider *************************/
.BrochureSlider_cover {
    margin: 90px 40px;
}
.BrochureSlider_inner {
    margin: 50px auto;
    position: relative;
    width: 80%;
}
.BrochureSlider_inner .sliderleft {
    position: absolute;
    left: -22px;
    width: 200px;
    bottom: 0;
}
.BrochureSlider_inner .sliderright {
    position: absolute;
    right: -22px;
    width: 200px;
    top: -66px;
}
.BrochureSlider_inner .owl-item.active.center img {
    transform: scale(1.3);
}
.BrochureSlider_inner .owl-carousel img {
    margin: 40px auto;
    width: 80%;
}
.BrochureSlider_inner .owl-carousel .owl-dots.disabled {
    display: block;
}
.BrochureSlider_inner .owl-theme .owl-nav{
    display: none;
}
.BrochureSlider_inner button.owl-dot.active span {
    margin-right: -5px !important;
    position: relative;
    background: #EB3542 !important;
}
.BrochureSlider_inner .owl-dots {
    margin-top: 30px !important;
}
.BrochureSlider_inner .owl-dot span {
    width: 43px !important;
    margin: 0px !important;
}
.BrochureSlider_inner button.owl-dot.active span {
    margin-right: -5px !important;
    position: relative;
    background: #EB3542 !important;
}
.BrochureSlider_cover .block_section_two_head { 
    width: 38%; 
}
/************************ BrochureSlider *************************/

@media screen and (max-width: 1300px) {
 
}
@media screen and (max-width: 1100px) {
 
 
.web_dev_explained {
    padding: 50px 90px; 
}
.BrochureBlk2_second { 
    width: 85%; 
}
.BrochureSlider_inner { 
    width: 100%;
}
.BrochureSlider_inner .owl-carousel img { 
    width: 88%;
}
.BrochureSlider_inner .sliderright {
    position: absolute;
    right: 0px;
    width: 167px;
    top: -45px;
}
.BrochureSlider_inner .sliderleft {
    position: absolute;
    left: 0px;
    width: 167px;
    bottom: 11px;
}
}
@media screen and (max-width: 1024px) {
 
}
@media screen and (max-width: 992px) {
   
    .BrochureBlk1_inner { 
        width: 90%;
    }
    .BrochureBlk1_inner .normal_block_cover { 
        width: 162px;
    }
    .BrochureBlk2_cover .web_dev_explained .web_dev_right img {
        width: 250px;
    }
    .BrochureBlk2_inner .web_dev_explained {
        padding: 50px 55px;
    }
    .BrochureBlk2_second {
        width: 96%;
    }
    .BrochureSlider_inner .sliderright {
        position: absolute;
        right: -28px;
        width: 120px;
        top: -14px;
    }
    .BrochureSlider_inner .sliderleft {
        position: absolute;
        left: -30px;
        width: 120px;
        bottom: 32px;
    }
    .BrochureSlider_inner .owl-carousel {
        width: 94%; 
    }
   
}
@media screen and (max-width: 768px) {
 
.BrochureBlk1_inner { 
    flex-wrap: wrap;
    justify-content: center;
}
.BrochureBlk1_inner .normal_block_cover {
    width: 200px;
    margin: 0 15px 20px;
}
.BrochureBlk2_second .normal_block_cover { 
    padding: 20px 10px;
    width: 180px;
}
.BrochureBlk2_second .normal_block_cover h4 {
    width: 90%;
    margin: 0 auto 6px;
}
}
@media screen and (max-width: 600px) {
   
    .BrochureBlk2_second { 
        display: block;
    }
    .BrochureBlk2_second .normal_block_cover { 
        width: 250px;
        margin: 0 auto 20px;
    }
    .BrochureSlider_inner .owl-item.active.center img {
        transform: scale(1);
    }
}
@media screen and (max-width: 500px) {
 
    .BrochureSlider_inner .owl-carousel {
        width: 100%;
    }
    .BrochureSlider_inner .owl-carousel img {
        width: 100%;
    }
    .BrochureBlk3_para { 
        width: 90%;
        font-size: 13px;
    }
    .BrochureSlider_cover {
        margin: 90px 40px 30px;
    }
}