.logo_banner_cover{
    width:500px;
    height:500px;
    position: relative;
}
.logo_banner_cover .logo_center {
    width: 100%; 
    position: absolute;
    bottom: 10%;
    animation: float 17s ease-in-out infinite;
}

.logo_banner_cover img.logo_left {
    position: absolute;
    left: 5%;
    width: 14%;
    margin: auto;
    bottom: 70%;
    opacity: .8;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: float 11s ease-in-out infinite;
}

.logo_banner_cover .logo_right {
    position: absolute;
    right: 2%;
    width: 21%;
    bottom: 75%;
    animation: float 11s ease-in-out infinite;
    top: auto;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  /*****************banner end*********************/
  .logoDesignBlk1_inner { 
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
}
/*******************block 2*******************/

/*******************block 2*******************/
/***********************Logo right block************************/
.LogoDesignBlk2_cover {
    background: #fff3e0;
    display: flex;
}

.LogoDesignBlk2_left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex: 40%;
}

.LogoDesignBlk2_left_inner h2 {
    font-size: 25px;
    font-weight: 800;
    position: relative;
    margin-bottom: 25px;
}
.LogoDesignBlk2_left_inner p {
    font-size: 14px;
}
.LogoDesignBlk2_left_inner h2:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: black;
    bottom: -9px;
}

.LogoDesignBlk2_left_inner h2:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: #ec433e;
    bottom: -9px;
    left: 55px;
}

.LogoDesignBlk2_left_inner {
    margin-left: 150px;
    position: relative;
}

.LogoDesignBlk2_right {
    flex: 53%;
    background: transparent linear-gradient(180deg, #f866095c 0%, #ec463c85 47%, #eb354261 100%) 0% 0% no-repeat padding-box;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}
 
.logo_right_cover {
    width: 280px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.logo_right_cover img {
    width: 55px;
    margin-bottom: 10px;
}

.logo_right_cover h4 {
    font-size: 16px;
    font-weight: 700;
}

.logo_right_cover p {
    font-size: 14px;
    line-height: 20px;
}
.LogoDesignBlk2_left_inner:before {
    position: absolute;
    background: red;
    content: "";
    height: 50px;
    width: 50px;
    left: -28px;
    top: -14px;
    filter: blur(32px);
}
/***********************Logo right block************************/
/*********block 3*********/
.LogoDesignBlk3_cover {
    padding: 50px 0 150px;
}

.LogoDesignBlk3_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoDesignBlk3_image {
    width: 800px; 
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: 60px;
}

.LogoDesignBlk3_image img {
    width: 100%;
}
/*********block 3*********/
/**************************************************/
.LogoDesignBlk3_cover p {
    width: 60%;
    margin: 25px auto;
    text-align: center;
}
.dots {
    width: 115px;
    height: 63px;
    position: relative;
}

.dots span {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.dots p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin:0 auto;
    width:100%;
} 
.dots:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 55%;
    background: #b7b7b7;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 8px;
}

.dots:nth-child(1) {
    position: absolute;
    left: 0;
}

.dots.dot_1 {
    position: absolute;
    left: -56px;
    bottom: 6px;
}

.dots.dot_2 {
    position: absolute;
    left: 124px;
    bottom: 25px;
    width: 155px;
}

.dots.dot_3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 155px;
}

.dots.dot_5 {
    position: absolute;
    right: -77px;
    top: -59px;
    width: 155px;
}

.dots.dot_4 {
    position: absolute;
    right: 119px;
    bottom: 17px;
    width: 155px;
}
/*************************logo black section**************************/
.logo_blackSection_cover {
    background: black;
}

.logo_blackSection_inner {
    width: 70%;
    margin: auto;
}
 
.logo_blackSection_inner img {
    width: 100%;
}

.logo_black_head {
    padding: 70px 0 50px;
    text-align: center;
    color: #fff;
    position: relative;
    width: 50%;
    margin: auto;
}

.logo_black_head h3 {
    font-size: 20px;
    font-weight: 800;
}

.logo_black_head p {
    font-size: 14px;
    color: #c1c1c1;
    position: relative;
}

.logo_black_head p:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background: #f35728;
    left: 0;
    bottom: -15px;
    right: -60px;
    margin: auto;
}

.logo_black_head p:before {
    content: "";
    height: 2px;
    width: 40px;
    background: white;
    left: -60px;
    bottom: -15px;
    right: 0;
    margin: auto;
    position: absolute;
}
.logo_black_inner-head {
    display: flex;
    justify-content: space-between;
    color: #adadad;
    border-bottom: 1px solid #a3a3a3;
    margin-bottom: 40px;
}

.logo_black_inner-head h4 {
    font-size: 15px;
    font-weight: 500;
}

.logo_black_inner-head span {
    font-size: 19px;
    font-weight: 400;
}
/*************************logo black section**************************/
/***************OUR WORK*****************/
.LogoOurWork_cover {
    margin: 80px 0;
}

p.logo_ourwork_para {
    width: 53%;
    margin: 30px auto;
    text-align: center;
}

.LogoOurWork_inner {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.LogoOurWork_inner img {margin: 30px;width: 66px;}

.ourwork_blk {
    flex: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f2f2f2;
}

.ourwork_blk:nth-child(1) {
    border-top: 0;
    border-left: 0;
}

.ourwork_blk:nth-child(2) {
    border-top: 0;
}

.ourwork_blk:nth-child(3) {
    border-top: 0;
}

.ourwork_blk:nth-child(4) {
    border-top: 0;
    border-right: 0;
}

.ourwork_blk:nth-child(5) {
    border-left: 0;
}

.ourwork_blk:nth-child(8) {
    border-right: 0;
}

.ourwork_blk:nth-child(9) {
    border-bottom: 0;
    border-left: 0;
}

.ourwork_blk:nth-child(10) {
    border-bottom: 0;
    border-right: 0;
}
/***************OUR WORK*****************/



/***************    MEDIA QUERIES   *****************/
@media screen and (max-width: 1300px) {
    .logo_design .bannerBG { 
        width: 63%; 
    }
    .logo_design .logo_right_cover {
        width: 265px; 
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 127px; 
    }
    .banner_content_inner {
        width: 62%;
        margin-left: 60px;
        position: relative;
    }

}
@media screen and (max-width: 1200px) {
 
    .logo_design .logo_right_cover {
        width: 248px;
        margin-right: 10px;
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 82px;
    }
}
@media screen and (max-width: 1100px) {
    .logo_design .banner-content-left { 
        width: 31%; 
    }
 
    .logo_design .LogoDesignBlk2_left_inner h2 {
        font-size: 22px; 
    }
    .logo_design .LogoDesignBlk2_right { 
        padding: 50px 35px; 
    }
    .logo_design .logo_right_cover {
        width: 240px; 
    }
    .logo_design .logo_right_cover img {
        width: 50px; 
    }
    .logo_design .logo_blackSection_inner {
        width: 65%; 
    }
    .logo_banner_cover {
        width: 440px;
        height: 440px;
        position: relative;
    }
}
@media screen and (min-width: 1050px) {
.logo_design .bannerBG {
    width: 70%;
}
}
@media screen and (max-width: 1024px) {
 
    .logo_design .logo_blackSection_inner {
        width: 60%;
    }
    .logo_design .logo_right_cover {
        width: 235px;
    }
    .logo_design .LogoDesignBlk2_left { 
        padding: 25px; 
    }
}
@media screen and (max-width: 992px) {
    .logo_design .LogoDesignBlk3_image {
        width: 620px; 
    }
    
   
    .logo_design .normal_block_cover { 
        width: 250px;
    }
    .logo_design .logoDesignBlk1_inner { 
        flex-wrap: wrap;
    }
    .logo_design .logoDesignBlk1_inner { 
        margin: 70px 50px;
    }
    .logo_design .LogoDesignBlk2_left_inner h2 {
        font-size: 20px;
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 40px;
    }
    .logo_design .LogoDesignBlk2_left { 
        padding: 30px 0 30px 30px; 
    }
    .logo_design .LogoDesignBlk2_right { 
        padding: 50px 30px; 
    }
    .logo_design  .logo_right_cover p {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0;
    }
    .logo_design .logo_right_cover {
        width: 186px;
    }
    .logo_design .logo_right_cover img {
        width: 45px; 
        height: 45px;
    }
    .logo_design .logo_right_cover h4 {
        font-size: 14px; 
    }
    .logo_design .LogoDesignBlk3_image {
        width: 620px; 
    }
    .logo_design .dots p {
        font-size: 12px; 
    }
    .logo_design .logo_black_head { 
        width: 64%; 
    }
    .logo_design .logo_blackSection_inner { 
        text-align: center;
    }
    .logo_design .logo_blackSection_inner img {
        width: 85%;
    }
    .logo_design p.logo_ourwork_para {
        width: 66%; 
        font-size: 13px;
    }
    .logo_design .LogoOurWork_inner { 
        width: 70%; 
    }
    .logo_design .web_dev_clients_wrap {
        padding: 50px 25px;
    }
    .logo_design .wrk_icon {
        width: 40px; 
    }
    .logo_design .wrk_color { 
        width: 48px; 
    }
    .logo_banner_cover {
        width: 350px;
        height: 315px;
    }
}
@media screen and (max-width: 800px) {
    .logo_design .banner_content h1 { 
        font-size: 30px; 
    }
   
    .logo_design .banner-content-left { 
        bottom: 35%;
    }
    .logo_design .LogoDesignBlk2_cover { 
        display: block;
    }
    .logo_design .LogoDesignBlk2_left {
        padding: 77px 0 30px 30px;
    }
    .logo_design .logo_design .logo_right_cover {
        width: 300px;
    }
    .logo_design .LogoDesignBlk2_right { 
        justify-content: center;
    }
    .logo_design .LogoDesignBlk3_cover p {
        width: 72%; 
        font-size: 13px;
    }
    .logo_design .dots p { 
        width: 100%;
        font-size: 12px;
    }
    .logo_design .logo_blackSection_inner {
        width: 90%; 
    }
    .logo_design .LogoDesignBlk2_right {
        padding: 50px 15px;
    }
    .logo_design .logo_right_cover {
        width: 255px;
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 0px;
        width: 40%;
    }
    .logo_design p.logo_ourwork_para {
        width: 85%; 
    }
}
@media screen and (max-width: 768px) {
    .logo_design .logo_black_head {
        width: 70%;
    }
    .logo_banner_cover {
        width: 263px;
        height: 257px;
    }
    .banner_content_inner {
        margin-left: 30px;
        margin-top: 45px;
        width: 80%;
    }
    .banner_content_inner h5 {
        margin-bottom: 0px;
    }
    .banner_content p { 
        line-height: 23px;
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 0px;
        width: 50%;
    }
    .logo_design .LogoDesignBlk3_image {
        width: 440px;
    }
    .dots.dot_2 { 
        left: 38px;
        bottom: 14px;
        width: 130px;
    }
    .logo_design .dots p { 
        font-size: 10px;
    }
    .dots:after { 
        bottom: 13px;
    }
    .dots.dot_4 { 
        right: 31px;
        bottom: 8px; 
    }
    .logo_design .LogoDesignBlk3_cover p {
        width: 80%; 
    }
    .logo_design .logo_black_head {
        width: 85%;
    }
}
@media screen and (max-width: 600px) {
    .logo_banner_cover {
        width: 210px;
        height: 210px;
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 0px;
        width: 65%;
    }
    .logo_design .LogoDesignBlk3_image {
        width: 310px;
    }
    .dots.dot_2 { 
        width: 86px;
    }
    .dots.dot_4 { 
        width: 77px;
    }
    .dots.dot_3 { 
        width: 90px;
    }
    .dots:after { 
        height: 34%;
    }
    .LogoDesignBlk3_cover {
        padding: 50px 0 80px;
    }
}
@media screen and (max-width: 500px) {
    .logo_design .bannerBG {
        width: 63%;
        display: none;
    }
    .logo_banner_cover {
        width: 210px;
        height: 286px;
    }
    .banner_content_inner { 
        margin-top: 102px; 
    }
    .logo_design .LogoDesignBlk2_left_inner {
        margin-left: 13px;
        width: 90%;
    }
    .logo_design .LogoDesignBlk3_image {
        width: 84%;
    }
    .LogoDesignBlk3_inner { 
        overflow: hidden;
    }
}