.work_icons_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0 100px;
}

.our_work_wrap {
    padding: 0 130px;
}

.work_icon {
    width: 210px;
    text-align: center;
    margin: 20px 20px;
}

.work_icon p {
    font-size: 14px;
}

.web_dev_clients_wrap .work_icon {
    margin: 20px 20px;
}

.web_dev_clients_wrap .work_icon p {
    text-align: justify;
    font-size: 14px;
}

.web_dev_clients {
    justify-content: space-around;
}


.work_icon h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
}

.bg-1 {
    background-color: #049CE5 !important;
}

.bg-2 {
    background-color: #FFB74D !important;
}

.bg-3 {
    background-color: #48D4C2 !important;
}

.bg-4 {
    background-color: #63BC6F !important;
}

.bg-5 {
    background-color: #598695 !important;
}

.bg-6 {
    background-color: #2CC2D6 !important;
}

.bg-7 {
    background-color: #FFB74D !important;
}

.bg-8 {
    background-color: #48D4C2 !important;
}

.work_icon {
    position: relative;
}

.wrk_icon {
    width: 50px;
  
    margin: auto;
    right: 69px;
    bottom: 2px;
    z-index: 1;
    position: absolute;
}

.wrk_color {
    position: absolute;
    width: 60px;
    margin: auto;
    left: 0;
    right: 0;
}

.work_icon_block {
    position: relative;
    height: 72px;
}

.work_icon span {
    content: "";
    border-radius: 30% 70% 67% 33% / 61% 67% 33% 39%;
    height: 45px;
    width: 45px;
    position: absolute;
    left: 75px;
    top: -16px;
    z-index: 0;
    background: #48D4C2 0% 0% no-repeat padding-box;
    transition: .5s;
    transform: rotate(360deg);
}