* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.maxWidth {
  max-width: 1600px;
  margin: auto;
}

/* body {
  background: var(--color-bg);
} */

a {
  color: unset !important;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  padding: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    padding: 4rem 2rem;
  }
}


/*******************************/
@media screen and (max-width: 1200px) {
  .tab_content_left {
    flex: 48% 1 !important; 
    padding:0 20px !important; 
}
.tab_content_right {
  flex: 48% 1 !important; 
}
.erisn__home .banner_img {
  width: 650px;
}
}
@media screen and (max-width: 1100px) {
.erisn__home .bannerFloatingE { 
  width: 150px; 
}
.erisn__home .banner-content-left { 
  bottom: 10%;
}
}
@media screen and (max-width: 1024px) {
  .erisn__home .banner_content h1 { 
    font-size: 36px; 
  }
  .erisn__home .banner-content-left { 
    width: 36%;
  }
  .erisn__home .home_block_wrap { 
    padding: 0 90px;
}
.erisn__home .tab_content_wrap { 
  padding: 70px 55px;
}
.erisn__home .homeEnquiry_inner {
  width: 84%; 
}
.erisn__home .testimonial_left {
  flex: 55% 1;
}
.erisn__home .testimonial_right {
  flex: 41% 1;
}
.erisn__home .testimonial_main {
  width: 450px; 
}
.erisn__home .serviceBlk img {
  width: 46px; 
}
.erisn__home .service_inner { 
  width: 88%; 
}
.contact_wrap {
  padding: 50px 50px 0 !important; 
}
.tab_content_right img {
  width: 450px !important;
  margin-top: 40px;
}
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  .erisn__home .banner_img {
    width: 510px;
}
.erisn__home .banner-content-left {
  bottom: 0%;
  left: 4%;
  width: 46%;
}
.erisn__home .bannerFloatingE {
  width: 100px;
}
.erisn__home .circleR { 
  width: 44px; 
}
.erisn__home .CircleY {
  width: 28px;
  position: absolute;
  bottom: 34px;
  left: 10px;
}
.erisn__home .CircleB {
  width: 27px;
  position: absolute;
  bottom: 57px;
  right: 27px;
}
.erisn__home .circleBlock {
  position: absolute;
  top: 76px;
}
.erisn__home .banner_content h1 {
  font-size: 30px;
}
.erisn__home .banner_content p { 
  font-size: 14px;
}
.erisn__home .business_blk_wrap { 
  margin: 15px 15px 15px;
}
.erisn__home .tech_slider_wrap {
  padding: 60px 60px;
}
.erisn__home .tab_content_wrap {
  padding: 70px 40px;
}
.erisn__home .tab_content_right img {
  width: 340px !important;
  margin-top: 60px;
}
.erisn__home .slider_head h2 {
  font-weight: 800;
  margin: 10px 0;
  color: #fff;
  font-size: 30px;
}
.erisn__home .testimonial_box { 
  padding: 19px; 
  width: 330px;
  margin: 10px;
  height: 224px;
}
.erisn__home .testimonial_inner {
  margin: 50px 0;
  padding: 10px 50px;
  display: flex; 
  align-items: center;
}
.erisn__home .testimonial_main {
  width: 370px;
}
.erisn__home .serviceBlk {
  text-align: center;
  margin: 0 11px;
}
.erisn__home .serviceBlk img {
  width: 40px;
}
.contact_left {
  flex: 30% 1 !important;
  padding: 50px 20px 0 20px !important; 
}
.contact_wrap {
  padding: 50px 15px 0 !important;
}
.contact_right {
  flex: 50% 1 !important; 
}
.contact_left_content p {
  width: 90% !important; 
}
}