.hybridapp_banner_cover {
    width: 500px;
    height: 500px;
    position: relative;
    margin-right: 50px;
}
.hybrid_banner_hand,.hybrid_banner_phone,.hybrid_banner_block{
    position:absolute;
}
.hybrid_dev .bannerBG {
    width: 56%;
}
.hybrid_dev .owl-theme .owl-nav { 
    display: none;
}
img.hybrid_banner_hand {
    width: 100%;
    bottom: 0%;
    left: 0%;
    animation: float 17s ease-in-out infinite;
}
img.hybrid_banner_phone {
    width: 35%;
    right: 30%;
    bottom: 22%;
    animation: float 15s ease-in-out infinite;
}
img.hybrid_banner_block_left {
    position: absolute;
    left: 0%;
    width: 37%;
    bottom: 50%;
    animation: float 12s ease-in-out infinite;
}
img.hybrid_banner_block_right {
    position: absolute;
    right: -6%;
    width: 37%;
    bottom: 36%;
    animation: float 13s ease-in-out infinite;
}

.hybrid_dev .banner_content_inner {
    width: 78%;
}
.hybridappBlk1_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 120px 30px;
    justify-content: center;
}
.hybridappBlk1_cover {
    padding: 50px 0;
}
/***************/
.hybridappBlk1_cover {
    padding: 50px 0;
}

.HybridappBlk2_cover {
    background: #F6F6F6;
    padding: 50px 0;
}

.HybridappBlk2_cover .software_band_wrap {
    box-shadow: none;
    margin-top: 50px;
}

.HybridappBlk2_cover .theme_change_top_head h2 {
    font-size: 20px;
}

.HybridappBlk2_cover img.themeChange_mob_screen {
    width: 360px;
}
/*************hybrid app slider***************/
.hybridapp_slider_cover {
    width: 75%;
    margin: 70px auto;
}
.hybridapp_slider_cover .center img {
    transform: scale(1.2);
}
.hybridapp_slider_cover  .owl-carousel img {
    margin: 40px auto;
    width: 80%;
}
.hybridapp_slider_cover .owl-dot span {
    width: 43px !important;
    margin: 0px !important;
}

 .hybridapp_slider_cover button.owl-dot.active span {
    margin-right: -5px !important;
    position: relative;
    background: #EB3542 !important;
}

 .hybridapp_slider_cover .owl-dots {
    margin-top: 30px !important;
}
.hybridapp_slider_cover .owl-carousel .owl-dots.disabled {
    display: block;
}
.hybridapp_slider_cover{
    position: relative;
}
.hybridapp_slider_cover .mobiledevSlider_inner {
    margin: 50px 0;
}
/**********hybrid app block 3************/
.HybridappBlk3_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 1200px) {
    .hybrid_dev .bannerBG {
        width: 55%;
    }
}
@media screen and (max-width: 1100px) {
    .hybrid_dev .banner_content_inner {
        width: 90%;
    }
    .hybrid_dev .bannerBG {
        width: 60%;
    }
    .hybridappBlk1_inner { 
        margin: 60px 90px 30px; 
    }
}
@media screen and (min-width: 1050px) {
 
}
@media screen and (max-width: 1050px) {
    .hybrid_dev .bannerBG {
        width: 55%;
    }
    .hybridapp_banner_cover {
        width: 420px;
        height: 471px; 
        margin-right: 17px;
    }
    .hybrid_dev  .banner_content_inner { 
        margin-left: 40px; 
    }
}
@media screen and (max-width: 1024px) {
.hybridappBlk1_inner {
    margin: 60px 70px 30px;
}
.HybridappBlk2_cover img.themeChange_mob_screen {
    width: 290px;
}
.theme_change_top_right {
    width: 350px; 
}
}
@media screen and (max-width: 992px) {
    .hybridapp_banner_cover {
        width: 330px;
        height: 340px;
        margin-right: 15px;
    }
    .hybrid_dev .banner_content_inner {
        margin-left: 30px;
        margin-top: 78px;
    }
    .theme_change_top_left {
        padding: 35px 15px 30px 20px;
        flex: 65% 1;
    }
    .HybridappBlk2_cover img.themeChange_mob_screen {
        width: 218px;
    }
    .theme_change_top_right {
        width: 240px;
    }
    .hybridapp_slider_cover {
        width: 90%; 
    }
}
@media screen and (max-width:768px) {
    .hybridapp_banner_cover {
        width: 275px;
        height: 292px;
        margin-right: 15px;
      }
      .hybridappBlk1_inner {
        margin: 60px 18px 30px;
    }
    .hybridappBlk1_inner .business_blk_wrap { 
        width: 250px;
    }    
    .themeChange_top { 
        display: block;
    }
    img.themeChange_mob_screen { 
        position: relative; 
    }
    img.themeChange_bg { 
        left: 0;
    }
    .theme_change_top_right {
        width: 240px;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    .hybridapp_banner_cover {
        width: 220px;
        height: 233px;
        margin-right: 15px;
    }
    img.sliderright { 
        width: 137px;
        top: -54px;
    }
    img.sliderleft {  
        width: 137px;
        bottom: 37px;
    }
}
@media screen and (max-width: 500px) {
    .hybrid_dev .bannerBG { 
        display: none;
    }
    img.sliderleft { 
        width: 111px; 
    }
    img.sliderright {
        width: 103px;
        top: -25px;
    }
}