.sw1{
    animation: float 5s ease-in-out infinite;
    width:400px;
    position:absolute;
    right: 20%;
    bottom:20%;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }