.swDevBanner_cover {
  height: 500px;
  width: 500px;
  position: relative; 
}

.swDevBanner_cover .bannerFloatingE {
    position: absolute;
    width: 200px;
    opacity: .6;
  }
  .swDevBanner_cover .bannerFloatingE1 {
    left: 18%;
    bottom: 10%;
    transform: translatey(0px);
    animation: float 10s ease-in-out infinite;
    width: 26%;
}
.swDevBanner_cover .bannerFloatingE2 {
  right: 17%;
  bottom: 19% !important;
  animation: float 10s ease-in-out infinite;
  width: 26%;
}
.swDevBanner_cover .banner_main_cover {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .swDevBanner_cover .bannerimg {
    position: absolute;
    width: 95%;
    bottom: 0;
    left: 0;
    animation: floatxy 8s ease-in-out infinite;
}
.swDevBanner_cover  .banner_img img.bannerImg {
    width: 100%;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-20px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  @keyframes floatr {
    0% {
      transform: translatex(0px);
    }
  
    50% {
      transform: translatex(-20px);
    }
  
    100% {
      transform: translatex(0px);
    }
  }
  @keyframes floatxy {
    0% {
      transform: translatey(2px); 
    }
  
    50% {
      transform: translatey(-22px); 
    }
  
    100% {
      transform: translatey(2px); 
    }
  }
  .cloud1 {
    animation: floatr 15s ease-in-out infinite;
    width: 22%;
    position: absolute;
    left: 15%;
    bottom: 54%;
}
.cloud2 {
  position: absolute;
  width: 23%;
  right: 39%;
  bottom: 63%;
  animation: floatr 15s ease-in-out infinite;
}
.cloud3 {
  position: absolute;
  width: 28%;
  right: 12%;
  bottom: 52%;
  animation: floatr 15s ease-in-out infinite;
}
@media screen and (max-width:1100px) {
 
}
@media screen and (max-width:1024px) {
 
}
@media screen and (max-width:992px) {
 
}
@media screen and (max-width:768px) {
 
}
@media screen and (max-width:600px) {
.swDevBanner_cover {
  height: 257px;
  width: 250px; 
  right: -10px;
}
}
@media screen and (max-width:500px) {
 
}