.software_dev_wrap .swInnerRightBlk h5 { 
    width: 94%; 
}
.software_dev_wrap span.heading_underline:before { 
    bottom: 12px;
}
.software_dev_wrap span.heading_underline:after { 
    bottom: 12px;
}
@media screen and (max-width:1200px) {
    .software_dev_wrap .banner_content {
        flex: 28% 1;
    }
    .software_dev_wrap  .banner_img {
        flex: 40% 1; 
    } 
    .software_dev_wrap  .banner_content_inner {
        width: 100%;
        margin-left: 50px;
    }
}
@media screen and (min-width:1050px) {
.bannerBG { 
    width: 63%; 
}
}

@media screen and (max-width:1100px) {
    .swDevBanner_cover { 
        margin-left: 0;
    }
    .software_dev_wrap .banner_content {
        flex: 44% 1;
    }
    .swDevBanner_cover {
        height: 450px;
        width: 450px; 
    }
  
}
@media screen and (max-width:1024px) {
.swDevBanner_cover {
    height: 460px;
    width: 500px; 
}
.software_dev_wrap .banner_content {
    flex: 32% 1;
}
}
@media screen and (max-width:992px) {
    .swDevBanner_cover {
        height: 390px;
        width: 390px; 
    }
    .bannerimg { 
        width: 285px;
        bottom: 0;
        left: 28px; 
    }
    .software_dev_wrap .banner_content_inner { 
        margin-left: 35px;
    }
    .swDevBanner_cover {
        height: 360px;
        width: 360px; 
    }
    .software_dev_wrap .banner_content_inner { 
        margin-top: 50px;
    }
    .software_dev_wrap span.heading_underline:after ,.software_dev_wrap span.heading_underline:before{
        bottom: -6px;
    }
}
@media screen and (max-width:768px) {
    
}