.bannerBG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 54%;
  top: 0;
}

* {
  font-family: var(--font-family-primary);
}

.red_font {
  color: var(--color-subtext);
  font-weight: 800;
}

/* .banner_cover {
    position: relative;
    display: flex;
    justify-content: flex-end;
  } */

/* .bannerImg {
    width: 67%;
  }
   */

.banner_content p {
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 26px;
}


/* h3.common_head {
      margin-bottom: 164px;
  }  */

.banner_content h1 {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 800; 
}

.banner_content h3.common_head {
  width: 52%;
  line-height: 42px;
  margin: 0 auto 20px;
  font-size: 20px;
}

.banner_content p {
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 26px;
  color: #4F5B6A;
}

.content-center .banner_content {
  align-items: center;
}

/* .banner-content-left h5 {position: relative;display: inline-block;}
  
  .banner-content-left h5:after {position: absolute;width: 100%;height: 2px;background: #ec3a41;content: "";left: 0;bottom: -4px;}
   */
.banner_content h2 {
  font-size: 40px;
  font-weight: 800;
}

.sub_head_bg {
  background: #FEF4F1;
  width: 220px;
  margin: auto;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center !important;
  margin: 10px !important;
}

.banner_content h3 {
  width: 52%;
  line-height: 42px;
}

.banner_main_cover {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 150px;
}
.logo_design .banner_main_cover { 
  margin-bottom: 55px;
}
.erisn__home .banner_main_cover {
  margin-bottom: 20px;
}

.banner_img {
  flex: 65%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.andorid .banner_img {
  flex: 47% 1;
}

.banner_content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 35% 1;
}

.banner_content_inner {
  width: 100%;
  margin-left: 60px;
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
}

.banner_img img.bannerImg {
  width: 100%;
}

.webdev_banner_cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

img.banner_background {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.webdev_banner {
  height: 400px;
  width: 522px;
  position: relative;
  margin-top: 110px;
}
.andorid .mobiledev_banner_cover img.banner_background {
  position: absolute;
  width: 100%;
  right: 0;
}

.banner_content_inner h5 {
  position: relative;
  display: inline-block;
  margin-bottom: 17px;
}

.banner_content_inner h5:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #f55d17;
  bottom: -4px;
  left: 0;
}
.CorporateDesign .banner_main_cover { 
  margin-bottom: 35px;
}
/* img.bannerImg.banner-content-center {
    width: 100%;
  } */
@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}
@keyframes floatX {
  0% {
    transform: translatex(0px);
  }

  50% {
    transform: translatex(-20px);
  }

  100% {
    transform: translatex(0px);
  }
}
@media screen and (max-width:1200px) {
.erisn__home .banner_img {
  flex: 58% 1; 
}
.mobiledev_cover .banner_img {
  flex: 56% 1; 
}
.mobiledev_cover .mobiledev_banner_cover img.banner_background { 
  width: 100%; 
}
.andorid .mobiledev_banner_cover img.banner_background { 
  width: 104%; 
}
}
@media screen and (max-width:1100px) {
.erisn__home .banner_img {
  flex: 53% 1;
}
.mobiledev_cover .banner_img {
  flex: 60% 1 !important;
}
.mobiledev_cover .banner_content { 
  flex: 39% 1;
}
.andorid .mobiledev_banner_cover img.banner_background { 
  width: 109%; 
}
 .banner_content h1 {
  font-size: 38px !important;
}
.hybrid_dev .banner_img {
  flex: 52% 1;
}
.software_dev_wrap .banner_img {
  flex: 60% 1 !important;  
}
.digital .mobiledev_banner_cover img.banner_background {
  width: 100%;
}
.digital .banner_img {
  flex: 52% 1; 
}
.specialist_cover .specialistBanner_cover {
  width: 451px;
  height: 315px; 
  margin-top: 162px;
}
.specialist_cover  .banner_img {
  flex: 48% 1; 
}
}
@media screen and (max-width:1050px) {
.mobiledev_cover .banner_img {
  flex: 55% 1 !important;
}
}
@media screen and (max-width:1024px) {
.banner_content { 
  flex: 39% 1;
}
.erisn__home .banner_img {
  flex: 55% 1; 
}
.androidDev_banner {
  position: relative;
  width: 410px;
  height: 410px;
}
.content-center .banner_content {
  align-items: flex-end;
}
.logo_design.content-center .banner_content {
  align-items: center;
}
.software_dev_wrap .banner_img {
  flex: 43% 1 !important;
}
.digital .digitalmarketingCover { 
  width: 422px;
  height: 402px;
}
}
@media screen and (max-width:1010px) {
  .home_banner_cover { 
    width: 580px;
    height: 508px;
}
}
@media screen and (max-width:992px) {
  .banner_content {
    flex: 41% 1;
}
.erisn__home .home_banner_cover { 
  width: 495px;
  height: 460px;
}
.erisn__home .banner_img {
  flex: 50% 1 !important;
}
.banner_content h1 { 
  font-size: 30px; 
}
.hybrid_dev .hybridapp_banner_cover {
  width: 350px;
  height: 350px;
  margin-top: 118px;
}
.specialist_cover .specialistBanner_cover {
  width: 390px;
  height: 287px;
  margin-top: 162px;
}
.specialist_cover .banner_img {
  flex: 38% 1;
}
.specialist_cover .banner_main_cover { 
  margin-bottom: 90px;
}
}
 
@media screen and (max-width:900px) {
  .webdev_banner { 
    width: 496px; 
}
.banner_img {
  flex: 54% 1; 
}
.banner_content {
  flex: 46% 1;
}
.erisn__home .home_banner_cover {
  width: 410px;
  height: 395px;
}
.mobiledev_cover .mobiledev_banner { 
  width: 434px;
  height: 434px;
}
.mobiledev_cover .banner_img {
  flex: 50% 1 !important;
}
.andorid  .banner_content_inner { 
  margin-left: 40px;  
}
 .banner_content h1 {
  font-size: 34px !important;
}
.androidDev_banner { 
  width: 348px;
  height: 348px;
}
.uiux_cover .UxBanner_cover {
  width: 382px;
  height: 411px;
}
.brochure .brochure_banner_cover {
  width: 425px;
  height: 425px;  
}
.logo_design .logo_banner_cover {
  width: 432px;
  height: 432px; 
}
.CorporateDesign .CorporateBanner_cover { 
  width: 320px;
  height: 320px;
  margin-top: 133px;
}
.software_dev_wrap .swDevBanner_cover {
  height: 425px !important;
  width: 425px !important;
}
.digital .digitalmarketingCover {
  width: 374px;
  height: 378px;
}
}
@media screen and (max-width:800px) {
.banner_content_inner { 
  margin-left: 30px; 
}
.webdev_banner {
  width: 400px;
  height: 366px;
  margin-top: 43px;
}
.banner_content h1 {
  font-size: 32px !important;
}

.andorid .banner_img {
  flex: 36% 1;
}
.androidDev_banner { 
  width: 318px;
  height: 331px;
}
.hybrid_dev .hybridapp_banner_cover {
  width: 314px;
  height: 321px;
}
.logo_design .logo_banner_cover {
  width: 358px;
  height: 358px;
}
.specialist_cover .specialistBanner_cover {
  width: 367px;
  height: 266px;
  margin-top: 162px;
}
}
@media screen and (max-width: 768px) {
  .banner_content_inner h5 {
    font-size: 15px;
  }

  .banner_content h1 {
    font-size: 22px !important;
    margin-bottom: 5px;
  }

  img.banner_background {
    display: none;
  }

  .banner_main_cover{
    background: linear-gradient(90deg, #f8660947 0%, #ec463c63 47%, #eb354245 100%) 0% 0% no-repeat padding-box;
  }

  .banner_main_cover {
    display: block;
    position: relative;
    margin-bottom: 0;
    padding-top: 110px;
    clear: both;
    overflow: hidden;
}
.banner_img {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  margin: auto;
}

  .banner_img img {
    animation: none !important;
    opacity: .3;
    z-index: 0;
  }

  .webdev_banner_cover {
    justify-content: flex-end;
    padding-right: 40px;
  }

  .banner_content_inner {
    width: 70%;
    position: relative;
    z-index: 1;
  }

  .banner_content {
    display: block;
  }

  .webdev_banner ,.mobiledev_banner{
    height: auto !important;
    width: 375px !important;
}
.erisn__home .home_banner_cover {
  width: 331px;
  height: 289px;
}
.mobiledev_cover img.mobiledev { 
  bottom: 0 !important;
} 
.andorid  .androidDev_banner { 
  width: 337px;
  height: 337px;
}
.uiux_cover .UxBanner_cover {
  width: 268px;
  height: 268px;
}
.uxdev_cover .uxbanner_img_cover {
  width: 262px;
  height: 262px; 
}
.uxdev_cover .banner_content_inner {
  width: 45%;
}
.brochure .brochure_banner_cover {
  width: 300px;
  height: 300px; 
}
.logo_design .logo_banner_cover {
  width: 293px;
  height: 293px;
}
.logo_banner_cover img.logo_left{
  opacity: .3 !important;
}
.CorporateDesign .CorporateBanner_cover { 
  width: 268px;
  height: 268px; 
}
.software_dev_wrap .swDevBanner_cover {
  height: 333px !important;
  width: 333px !important;
}
.software_dev_wrap .banner_content_inner {
  width: 67% !important; 
}
.digital .digitalmarketingCover {
  width: 280px;
  height: 280px;
}
}

@media screen and (max-width: 500px) {
  .banner_content_inner {
    width: 90%;
    margin-left: 20px;
  }
  .banner_content p { 
    line-height: 21px; 
    font-size: 13px;
}
.andorid .banner_content_inner {
  margin-left: 16px;
}
.andorid .webdev_banner_cover.mobiledev_banner_cover {
  padding-right: 3px;
}
.andorid .androidDev_banner {
  width: 278px;
  height: 278px;
}
.hybrid_dev .banner_content_inner {
  margin-left: 22px;
}
.webdev_banner_cover { 
  padding-right: 0px;
}
.specialist_cover .specialistBanner_cover {
  width: 292px;
  height: 235px; 
}
}