.common_slider_wrap .item img {
    width: 60px; 
    margin: auto;
}

.common_slider_wrap .owl-stage-outer {
    width: 80%;
    margin: auto;
    box-shadow: 0px 3px 30px #0000000D;
    padding: 22px 0;
    margin-top: 30px;
} 
.common_slider_wrap {
    margin: 100px 0;
} 
.common_slider_inner {
    margin-top: 50px;
}
.common_slider_wrap {
    margin: 100px 0;
} 
.common_slider_wrap .owl-dot span {
    width: 43px !important;
    margin: 0px !important;
}

.common_slider_wrap button.owl-dot.active span {
    margin-right: -5px !important;
    position: relative;
    background: #EB3542 !important;
}

.common_slider_wrap .owl-dots {
    margin-top: 30px !important;
}
@media screen and (max-width:992px) {
    .common_slider_wrap .owl-stage-outer {
        width: 100%; 
    }
    .block_section_two_head {
        width: 60% !important;
    }
}
@media screen and (max-width:500px) {
    .uiux_cover .common_slider_wrap {
        margin: 50px 0;
    }
    .uiux_cover .common_slider_wrap .item img {
        width: 35px; 
    }
    .common_slider_wrap {
        margin: 50px 0;
    }
    .common_slider_wrap .owl-dot span {
        width: 10px !important;
        height: 10px !important;
        margin: 5px 7px !important;
    }
    .common_slider_wrap button.owl-dot.active span {
        margin-right: 7px !important; 
    }
}